<!DOCTYPE html>
<html>
  <head>
    <title>Tapeworm</title>
  </head>

  <body>
    <h1>Register User</h1>

    {% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="/drawings/">Return to homepage</a>
    {% else %}
    <strong>Please create a user</strong>

    <form id="user_form" method="post" action="{% url 'register' %)"
      enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Render user_form with element in a paragraph elemnt. -->
      {{ user_form.as_p }}
      
      <input type="submit" name="submit" value="Register">
    </form>
    {% endif %}

  </body>
</html>